.footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    width: 95vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    box-sizing: border-box;
    border-radius: 250px;
}